body{
    background-color:rgb(172, 166, 166);
   }
   
   h1{
      background-color: pink; color:darkred;   
   }
   p{
    color:rgb(75, 67, 67);
   }
   .LINK li a{
    color: green;
    background-color: lightgoldenrodyellow;
   }
   .p1{
    color: goldenrod;
    background-color: white;
   }